
  body{
    margin: 0px;
    background: rgb(235, 225, 225);
}

*{
    box-sizing: border-box;
}

.container{
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 10px auto;
  background: white;
  padding: 8px 20px;
}
  
  #card_inner{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

  }

  .midle{

    width: 100%;

  }

  #button-position{

    display: grid;
    grid-template-columns: 18rem 18rem;

  }

  .unit{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    margin: 10px auto;
}

.pod_unit{
    background: rgb(206, 206, 206);
}

.img_in_unit > img{
    padding: 4px;
    padding-bottom: 0px;
    object-fit: cover;
    display: block;
    height: 250px;
    width: 100%;
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.pod_unit > h5{
  text-align: center;
  padding-top: 10px;
}

.pod_unit > p{
    margin: auto 10px;
    text-align: justify;
}

.pod_unit > p:nth-child(3){
    color: rgb(101, 54, 37);
}

.wrap {
  margin: auto 10px;
  padding-top: 10px;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.input_search{

  float: right;
  margin: -82px auto 20px auto;

}

#search{

  padding-right: 50px;

}



